// Copyright 2022 Manna Harbour
// https://github.com/manna-harbour/miryoku

#include "nkearbey/miryoku_zmk/miryoku/custom_config.h"
#include "nkearbey/miryoku_zmk/miryoku/mapping/36/minidox.h"
#include "nkearbey/miryoku_zmk/miryoku/miryoku.dtsi"